.card-body {
    display: flex;
    column-gap: 2em;
    justify-content: space-between;
    align-items: center;
}

.coluna-nome {
    width: 25em;
}

.icons {
    display: flex;
    column-gap: 2em;
}

.icon {
    cursor: pointer;
}

@media (max-width: 560px){
    .card-body {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: start;
    }
    .icons {
        width: 50%;
        margin: 0 auto;
    }
    .card-body div {
        width: fit-content;
    }
}